/* Font Style from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/*** HTML STRUCTURE ***/

/* Header Section*/
header {
    background-color: #27183d;
    height: 3%;
    position: fixed;
    width: 100%;
    height: 5%;
    top: 0%;
    left: 0%;
    padding: 15px;
    color: #DBDBDB;
}

/* Virgin Healthcare:Hospital Title*/
h2 {
    position: fixed;
    top: 0%;
    left: 1%;
}

/* Headers 3/4 Shared Attributes*/
h3, h4 {
    font-weight: bold;
    font-size: 50px;
    color: #cc0000;
    text-align: center;
}

/* Each Page Title (Hospital/Patient/Staff/Appointment)*/
h3 {
    position: fixed;
    top: 81px;
    left: 650px;
}

/* Each Page Sub Title (Add/Edit/Delete/List & Filter)*/
h4 {
    position: fixed;
    top: 81px;
    left: 700px;
}

/* Body Section*/
body {
    background-color: #CCCCCC;
    color: #DBDBDB;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/*Article Section*/
article {
    position: fixed;
    color: black;
    left: 1%;
    top: 10%;
    height: 759px;
    width: 98%;
    bottom: 169px;
    background-color: white;
}

/*Footer Section*/
footer {
    background-color: #27183d;
    position: fixed;
    margin-top: 94px;
    margin-bottom: 15px;
    left: -4%;
    top: 83%;
    height: 7%;
    width: 105%;
}

/*Footer Information*/
#FooterText {
    position: fixed;
    left: 900px;
    top: 900px;
    font-size: 10pt;
}

/*List Appointment Buttons*/
.btnAppointmentBook, .btnAppointmentSearch {
    position: fixed;
    z-index: 1;
    width: 150px;
    height: 50px;
    font-size: 15pt;
    border-radius: 12px;
    transition-duration: 0.5s;
}

/*Appointment Search Button - Hover Effect */
.btnAppointmentSearch:hover {
    background-color: #27183D;
    color: white;
}

/*Appointment Book Button - Hover Effect */
.btnAppointmentBook:hover {
    background-color: darkgreen;
    color: white;
}

/* Appointment Search Button*/
.btnAppointmentSearch {
    top: 235px;
    left: 1350px;
}

/* Appointment Book Button*/
.btnAppointmentBook {
    top: 665px;
    left: 1350px;
}

/* Close Button */
.btnClose {
    position: fixed;
    top: 109px;
    left: 1823px;
    z-index: 1;
    width: 60px;
    height: 35px;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.5s;
}

/* Close Hover Button */
.btnClose:hover {
    background-color: #cc0000;
    color: white;
}

/* OK Button */
.btnOK {
    position: fixed;
    top: 600px;
    left: 1050px;
    z-index: 1;
    width: 200px;
    height: 70px;
    font-size: 20pt;
    border-radius: 12px;
    transition-duration: 0.5s;
}

/* OK Button - Hover Effect */
.btnOK:hover {
    background-color: darkgreen;
    color: white;
}

/*Labels*/
.lblFilterAppointment, .lblAppointmentDate, .lblErrorMessage, .lblDate, .lblTime, .lblDescription {
    position: absolute;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
}

/*Filter Appoointment Label*/
.lblFilterAppointment {
    top: 575px;
    left: 500px;
}

/*Appoointment Date Label*/
.lblAppointmentDate {
    top: 150px;
    left: 500px;
}

/*Appoointment Booking Date Label*/
.lblDate {
    top: 175px;
    left: 700px;
}

/*Appoointment Booking Time Label*/
.lblTime {
    top: 275px;
    left: 700px;
}

/*Appoointment Booking Description Label*/
.lblDescription {
    top: 375px;
    left: 720px;
}

/*Error Message Label*/
.lblErrorMessage {
    top: 650px;
    left: 25px;
    font-size: 18px;
    letter-spacing: 3px;
    color: #cc0000;
    font-family: 'Share Tech Mono', monospace;
}

/*Textboxes*/
.txtDate, .txtTime, .txtDescription, txtAppointmentSearch, .txtAppointmentDate {
    position: fixed;
    width: 300px;
    height: 30px;
    font-size: 18px;
    background-color: #e8e5e5;
    text-align: center;
}

/*Appointment Search Textbox*/
.txtAppointmentSearch {
    top: 670px;
    left: 850px;
    width: 450px;
}

/*Appointment Date Search Textbox*/
.txtAppointmentDate {
    top: 245px;
    left: 750px;
    width: 550px;
}

/*Date Textbox*/
.txtDate {
    top: 270px;
    left: 900px;
}

/*Time Textbox*/
.txtTime {
    top: 370px;
    left: 900px;
}

/*Description Textbox*/
.txtDescription {
    top: 470px;
    left: 900px;
    width: 500px;
    height: 75px;
}

/*Appointment ListBox*/
.lstAppointment {
    background-color: #eeecef;
    position: fixed;
    top: 300px;
    left: 515px;
    width: 800px;
    height: 350px;
    font-size: 20px;
    padding: 8px;
}

