/* Font Style from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Header Section*/
header {
    background-color: #27183d;
    height: 3%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    padding: 15px;
    color: #DBDBDB;
}

/* Virgin Healthcare:Hospital Title*/
h2 {
    position: fixed;
    top: -3%;
    left: 1%;
}

/* Headers 3/4 Shared Attributes*/
h3, h4 {
    font-weight: bold;
    font-size: 30px;
    color: #cc0000;
    text-align: center;
}

/* Each Page Title (Hospital/Patient/Staff/Appointment)*/
h3 {
    position: fixed;
    top: 81px;
    left: 470px;
}

/* Each Page Sub Title (Add/Edit/Delete/List & Filter)*/
h4 {
    position: fixed;
    top: 81px;
    left: 570px;
}


/* Body Section*/
body {
    background-color: #CCCCCC;
    color: #DBDBDB;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/*Navigation Section*/
nav {
    background-color: #cc0000; 
    position: fixed;
    width: 15%;
    height: 85%;
    top: 8%;
    left: 0%;
}

/*Navigation Buttons*/
.Home, .AddHospital, .EditHospital, .DeleteHospital, .ListHospitals, .FilterHospitals, .btnSubmit {
    z-index: 1;
    width: 150px;
    height: 50px;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.5s;
}

    /*Navigation Buttons - Hover Effect*/
    .Home:hover, .AddHospital:hover, .EditHospital:hover, .DeleteHospital:hover, .ListHospitals:hover, .FilterHospitals:hover {
        background-color: #27183D;
        color: white;
    }

/*Home Navigation Button*/
.Home {
    position: fixed;
    top: 74px;
    left: 17px;
}

/*Add Hospital Navigation Button*/
.AddHospital {
    position: fixed;
    top: 137px;
    left: 19px;
}

/*Edit Navigation Button*/
.EditHospital {
    position: fixed;
    top: 204px;
    left: 20px;
}

/*Delete Navigation Button*/
.DeleteHospital {
    position: fixed;
    top: 270px;
    left: 20px;
}

/*List Navigation Button*/
.ListHospitals {
    position: fixed;
    top: 336px;
    left: 19px;
}

/*Filter Navigation Button*/
.FilterHospitals {
    position: fixed;
    top: 407px;
    left: 20px;
}

/*Article Section*/
article {
    position: fixed;
    color: black;
    left: 16%;
    top: 10%;
    height: 499px;
    width: 83%;
    bottom: 169px;
    background-color: white;
}

/*Footer Section*/
footer {
    background-color: #27183d;
    position: fixed;
    margin-top: 94px;
    margin-bottom: 15px;
    left: -4%;
    top: 78%;
    height: 7%;
    width: 105%;
}

#FooterText {
    position: fixed;
    left: 45%;
    top: 95%;
    font-size:10pt;
}

/*VHCHospital - Add Section Labels*/
.lblHospital_Name {
    position: absolute;
    top: 176px;
    left: 295px;
    font-weight: bolder;
    letter-spacing: 2px;
}

.lblHospital_Place {
    position: absolute;
    top: 230px;
    left: 290px;
    font-weight: bolder;
    letter-spacing: 2px;
}

/*Hospital Name Textbox*/
.txtHospitalName {
    position: absolute;
    top: 178px;
    left: 475px;
    font-style: italic;
    width: 250px;
    height: 20px;
    color:dimgray;
}

/*Hospital Place DropDownList*/
.ddlHospitalPlace {
    position: absolute;
    top: 230px;
    left: 475px;
    font-style: italic;
    width: 257px;
    height: 25px;
    color: dimgray;
}

/* Submit Button */
.btnSubmit {
    position: fixed;
    top: 350px;
    left: 700px;
}

 /* Submit Hover Button */
 .btnSubmit:hover {
    background-color: darkgreen;
    color: white;
 }

/* Close Button */
.btnClose {
    position: fixed;
    top: 75px;
    left: 1200px;
    z-index: 1;
    width: 50px;
    height: 25px;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.5s;
}

/* Close Hover Button */
.btnClose:hover {
    background-color: #cc0000;
    color: white;
}

/* VHC Logo Image */
img {
    position: fixed;
    top: 60px;
    left: 460px;
    width: 550px;
    height: 550px;
}

/* OptionMessage */
#OptionMessage {
    position: fixed;
    top: 500px;
    left: 500px;
    font-style: italic;
    color: dimgray;
}