/* Font Style from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*** HTML STRUCTURE ***/

/* Header Section*/
header {
    background-color: #27183d;
    height: 3%;
    position: fixed;
    width: 100%;
    height: 5%;
    top: 0%;
    left: 0%;
    padding: 15px;
    color: #DBDBDB;
}

/* Virgin Healthcare:Hospital Title*/
h2 {
    position: fixed;
    top: 0%;
    left: 1%;
}

/* Headers 3/4 Shared Attributes*/
h3, h4 {
    font-weight: bold;
    font-size:45px;
    color: #cc0000;
    text-align: center;
}

/* Each Page Title (Hospital/Patient/Staff/Appointment)*/
h3 {
    position: fixed;
    top: 81px;
    left: 600px;
}

/* Each Page Sub Title (Add/Edit/Delete/List & Filter)*/
h4 {
    position: fixed;
    top: 81px;
    left: 850px;
}

/* Body Section*/
body {
    background-color: #CCCCCC;
    color: #DBDBDB;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/*Article Section*/
article {
    position: fixed;
    color: black;
    left: 1%;
    top: 10%;
    height: 759px;
    width: 98%;
    bottom: 169px;
    background-color: white;
}

/*Footer Section*/
footer {
    background-color: #27183d;
    position: fixed;
    margin-top: 94px;
    margin-bottom: 15px;
    left: -4%;
    top: 83%;
    height: 7%;
    width: 105%;
}

/*Footer Information*/
#FooterText {
    position: fixed;
    left: 900px;
    top: 900px;
    font-size: 10pt;
}

/* VHC Logo Image */
img {
    position: fixed;
    top: 170px;
    left: 650px;
    width: 650px;
    height: 650px;
}

/*** BUTTONS ***/

/*Navigation Buttons*/
.btnPatient, .btnStaff {
    z-index: 1;
    width: 400px;
    height: 400px;
    font-size: 35pt;
    border-radius: 12px;
    transition-duration: 0.5s;
}

/*Navigation Buttons - Hover Effect*/
.btnPatient:hover, .btnStaff:hover {
    background-color: #27183D;
    color: white;
}

/* Patient Button */
.btnPatient{
    position:fixed; 
    top: 290px; 
    left:150px;
}

/* Staff Button */
.btnStaff {
    position: fixed;
    top: 290px;
    left: 1370px;
}

/*Log Out */
.btnLogOut {
    position: fixed;
    z-index: 1;
    width: 200px;
    height: 50px;
    font-size: 20pt;
    border-radius: 12px;
    transition-duration: 0.5s;
    top: 120px;
    left: 1650px;
}

.btnLogOut:hover {
    background-color: darkred;
    color: white;
}

/* OptionMessage */
#OptionMessage {
    position: fixed;
    top: 735px;
    left: 750px;
    font-style: italic;
    color: darkgrey;
    font-size: 30px;
}