@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body {
    background-color: #CCCCCC;
    color: #DBDBDB;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #27183d;
    height: 10%;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    padding: 15px;
    color: #cc0000;
}

nav {
    background-color: #cc0000; /* #c3092d;  Virgin Media Original Red */
    position: fixed;
    width: 12%;
    height: 100%;
    top: 13.5%;
    left: 0%;
}

article {
    background-color: #CCCCCC;
    position: fixed;
    width: 30%;
    top: 50%;
    left: 50%;
    color: black;
}

footer {
    background-color: #27183d;
    height: 14%;
    position: fixed;
    width: 100%;
    top: 85%;
    left: 0%;
    margin-top: 94px;
    margin-bottom: 15px;
}

#FooterText {
    position: fixed;
    left: 45%;
    top: 95%;
}

li {
    list-style: none;
}


.Button, .navButton {
    background-color: white;
    padding: 20px;
    left: 10px;
    border-radius: 2px;
    font-size: 1em;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
}

.lblFilterGenre {
    z-index: 1;
    width: 129px;
    position: fixed;
    top: 275px;
    left: 730px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.txtFilterGenre {
    z-index: 1;
    width: 250px;
    position: fixed;
    top: 275px;
    left: 865px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.btnApplyFilter  {
    z-index: 1;
    width: 100px;
    position: fixed;
    top: 275px;
    left: 1135px;
    font-size: 10pt;
    font-weight: bold;
    color: black;
}

.btnDisplayAll {
    z-index: 1;
    width: 170px;
    position: fixed;
    top: 625px;
    left: 1115px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.lblError {
    z-index: 1;
    width: 200px;
    position: fixed;
    top: 625px;
    left: 730px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.articleMovie {
    left: 38%;
    top: 21%;
}

.lstMovies {
    margin-left: 0px;
    margin-top: 50px;
    height: 293px;
    width: 553px;
}

.lblStaffMovie {
    text-align: center;
}

/*################## STAFF MOVIE ADD CSS #####################*/


/*.lblAddMovieTitle {
    background-color: #CCCCCC;
    position: fixed;
    width: 30%;
    top: 50%;
    left: 50%;
    color: black;
}*/

.articleAddMovie {
    background-color: #CCCCCC;
    position: fixed;
    width: 30%;
    top: 20%;
    left: 50%;
    color: black;
}

.lblMovieTitle {
    z-index: 1;
    width: 250px;
    position: fixed;
    top: 280px;
    left: 630px;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: right;
}

.lblGenre {
    z-index: 1;
    width: 250px;
    position: fixed;
    top: 340px;
    left: 630px;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: right;
}

.lblMovieDuration {
    z-index: 1;
    width: 250px;
    position: fixed;
    top: 400px;
    left: 630px;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: right;
}

.lblMovieRating {
    z-index: 1;
    width: 250px;
    position: fixed;
    top: 460px;
    left: 630px;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: right;
}

.lblMovieReleaseDate {
    z-index: 1;
    width: 250px;
    position: fixed;
    top: 520px;
    left: 630px;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: right;
}

.lblMovieImage {
    z-index: 1;
    width: 250px;
    position: fixed;
    top: 580px;
    left: 630px;
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: right;
}

.txtMovieTitle {
    z-index: 1;
    width: 290px;
    position: fixed;
    top: 278px;
    left: 930px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.txtMovieGenre {
    z-index: 1;
    width: 290px;
    position: fixed;
    top: 337px;
    left: 930px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.txtMovieDuration {
    z-index: 1;
    width: 290px;
    position: fixed;
    top: 397px;
    left: 930px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.txtMovieRating {
    z-index: 1;
    width: 290px;
    position: fixed;
    top: 457px;
    left: 930px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.txtMovieReleaseDate {
    z-index: 1;
    width: 290px;
    position: fixed;
    top: 517px;
    left: 930px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.txtMovieImage {
    z-index: 1;
    width: 290px;
    position: fixed;
    top: 577px;
    left: 930px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.btnStaffMovieOK {
    z-index: 1;
    width: 125px;
    position: fixed;
    top: 620px;
    left: 930px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.btnStaffMovieCancel {
    z-index: 1;
    width: 125px;
    position: fixed;
    top: 620px;
    left: 1100px;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.lblStaffAddMovieError {
    z-index: 1;
    width: 30%;
    position: fixed;
    top: 670px;
    left: 730px;
    font-size: medium;
    font-weight: bold;
    color: black;
}
